﻿ 

strong[id="f1"]:after {
  content: "Basic Patient Informations";
}
label[id="f2"]:after {
    content: "Name";
}
label[id="f3"]:after {
    content: "File ID";
}
label[id="f4"]:after {
    content: "Age";
}
label[id="f5"]:after {
    content: "Date";
}
label[id="f6"]:after {
    content: "Pulse (bpm)";
}
label[id="f7"]:after {
    content: "Blood pressure";
}
label[id="f8"]:after {
    content: "Breathing Rate (bpm)";
}
label[id="f9"]:after {
    content: "Body temperature (°C)";
}
label[id="f10"]:after {
    content:"Pain rate";
}
label[id="f11"]:after {
    content:"Weight (kg)";
}

i[id="f12"]:after {
    content:"Medical Diagnostic";
}
p[id="print"]:after{
    content:"Print";
}
p[id="validate"]:after{
    content:"Validate";
}
p[id="close"]:after{
    content:"Close";
}