﻿ 

strong[id="f1"]:after {
  content: "معلومات المريض";
}
label[id="f2"]:after {
    content: "اسم المريض";
}
label[id="f3"]:after {
    content: "رقم الملف";
}
label[id="f4"]:after {
    content: "السن";
}
label[id="f5"]:after {
    content: "التاريخ";
}
label[id="f6"]:after {
    content: "نبض القلب";
}
label[id="f7"]:after {
    content: "ضغط الدم";
}
label[id="f8"]:after {
    content: "التنفس";
}
label[id="f9"]:after {
    content: "الحرارة";
}
label[id="f10"]:after {
    content:"معدل الألم";
}
label[id="f11"]:after {
    content:"الوزن";
}
i[id="f12"]:after {
    content:"التشخيص الطبي";
}

p[id="print"]:after{
    content:"طباعة";
}
p[id="validate"]:after{
    content:"حفظ";
}
p[id="close"]:after{
    content:"غلق";
}